src/test/munit/xa/activemq-xa-reconnection-pool-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns:connection-test="http://www.mulesoft.org/schema/mule/connection-test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:java="http://www.mulesoft.org/schema/mule/java"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
      http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
      http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
      http://www.mulesoft.org/schema/mule/connection-test http://www.mulesoft.org/schema/mule/connection-test/current/mule-connection-test.xsd
      http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">

    <!--  Is required a 4.1.5 min mule version to prevent a bug on the lazy init on Bitronix -->
    <munit:config name="activemq-xa-reconnection-pool-test-case.xml" minMuleVersion="4.1.6"/>

    <munit:after-test name="after-test-activemq-xa-reconnection-test-case" description="after test">
        <!-- Takes a while for jolokia rest api to get back up-->
        <until-successful maxRetries="50" millisBetweenRetries="1000">
            <set-variable variableName="brokerName" value="localhost"/>
            <set-variable variableName="destinationName" value="destination_1"/>
            <flow-ref name="purgeQueue"/>
        </until-successful>
    </munit:after-test>

    <munit:test name="connection-lost-and-eventually-recovered-with-pool" ignore="#[Munit::muleVersionPriorTo('4.3.1-SNAPSHOT')]">
        <munit:behavior>
            <set-variable variableName="containerName" value="activemq"/>
            <set-variable variableName="message" value="Tartan is stylish"/>
        </munit:behavior>
        <munit:execution>
            <flow-ref name="publish-on-unstable-broker-with-pool" />
            <jms:consume config-ref="JMS_Config_XA_UNSTABLE_CONNECTION_WITH_POOL" destination="destination_1"/>
            <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo('Tartan is stylish')]"/>

            <flow-ref name="stopActiveMQBroker" />
            <set-variable variableName="containerId" value="#[payload]" />
            <flow-ref name="startActiveMQBroker" />
            <logger message="#[ import * from dw::Runtime --- '' wait 2000]"/>

            <until-successful maxRetries="10" millisBetweenRetries="1000">
                <flow-ref name="publish-on-unstable-broker-with-pool" />
            </until-successful>
        </munit:execution>
        <munit:validation>
            <jms:consume config-ref="JMS_Config_XA_UNSTABLE_CONNECTION_WITH_POOL" destination="destination_1"/>
            <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo('Tartan is stylish')]"/>
        </munit:validation>
    </munit:test>

    <flow name="publish-on-unstable-broker-with-pool">
        <try transactionalAction="BEGIN_OR_JOIN" transactionType="XA">
            <jms:publish config-ref="JMS_Config_XA_UNSTABLE_CONNECTION_WITH_POOL" transactionalAction="ALWAYS_JOIN" destination="destination_1">
                <jms:message>
                    <jms:body>#[vars.message]</jms:body>
                </jms:message>
            </jms:publish>
        </try>
    </flow>

    <flow name="stopActiveMQBroker">
        <java:invoke-static class="org.mule.extensions.jms.test.util.BrokerContainerLifecycleManger" method="stopContainerWithName(String, int)">
            <java:args >#[{ arg0 : vars.containerName, arg1: 0 }]</java:args>
        </java:invoke-static>
    </flow>

    <flow name="startActiveMQBroker">
        <java:invoke-static class="org.mule.extensions.jms.test.util.BrokerContainerLifecycleManger" method="startContainerWithId(String)">
            <java:args >#[{ arg0 : vars.containerId }]</java:args>
        </java:invoke-static>
    </flow>
</mule>