src/test/munit/xa/activemq-xa-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:mtf="http://www.mulesoft.org/schema/mule/mtf"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
                          http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
                          http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
                          http://www.mulesoft.org/schema/mule/mtf http://www.mulesoft.org/schema/mule/mtf/current/mule-mtf.xsd">

    <!--  Is required a 4.1.5 min mule version to prevent a bug on the lazy init on Bitronix -->
    <munit:config name="xa-test-cases.xml" minMuleVersion="4.1.5"/>

    <munit:test name="consume-xa-message">
        <munit:execution>
            <set-variable variableName="destination" value="#[Utils::createDestination()]"/>
            <set-variable variableName="messages" value="#[Utils::createMessages(1000)]"/>
            <foreach collection="#[vars.messages]">
                <set-variable variableName="message" value="#[payload]"/>
                <flow-ref name="publishMessage"/>
            </foreach>
        </munit:execution>
        <munit:validation>
            <foreach collection="#[vars.messages]">
                <set-variable variableName="message" value="#[payload]"/>
                <try transactionalAction="ALWAYS_BEGIN" transactionType="XA">
                    <jms:consume config-ref="JMS_Config_XA" destination="#[vars.destination]"/>
                </try>
                <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo(vars.message)]"/>
            </foreach>
        </munit:validation>
    </munit:test>

    <munit:test name="publish-xa-message">
        <munit:execution>
            <set-variable variableName="destination" value="#[Utils::createDestination()]"/>
            <set-variable variableName="messages" value="#[Utils::createMessages(1000)]"/>
            <foreach collection="#[vars.messages]">
                <try transactionalAction="ALWAYS_BEGIN" transactionType="XA">
                    <jms:publish config-ref="JMS_Config_XA" destination="#[vars.destination]">
                        <jms:message>
                            <jms:body>#[payload]</jms:body>
                        </jms:message>
                    </jms:publish>
                </try>
            </foreach>
        </munit:execution>
        <munit:validation>
            <foreach collection="#[vars.messages]">
                <set-variable variableName="message" value="#[payload]"/>
                <jms:consume config-ref="config-no-caching" destination="#[vars.destination]"/>
                <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo(vars.message)]"/>
            </foreach>
        </munit:validation>
    </munit:test>

    <munit:test name="consume-xa-message-and-rollback">
        <munit:execution>
            <set-variable variableName="destination" value="#[Utils::createDestination()]"/>
            <set-variable variableName="messages" value="#[Utils::createMessages(1000)]"/>
            <foreach collection="#[vars.messages]">
                <set-variable variableName="message" value="#[payload]"/>
                <flow-ref name="publishMessage"/>
                <try>
                    <try transactionalAction="ALWAYS_BEGIN" transactionType="XA">
                        <jms:consume config-ref="JMS_Config_XA" destination="#[vars.destination]"/>
                        <raise-error type="MULE:ANY" description="TX"/>
                    </try>
                    <error-handler>
                        <on-error-continue type="ANY" logException="false">
                            <munit-tools:queue queueName="rolledback"/>
                            <jms:consume config-ref="config-no-caching" destination="#[vars.destination]"/>
                            <munit-tools:queue queueName="noxa"/>
                        </on-error-continue>
                    </error-handler>
                </try>
            </foreach>
        </munit:execution>
        <munit:validation>
            <foreach collection="#[vars.messages]">
                <munit-tools:assert-that expression="#[MunitTools::queueSize('rolledback') as String]"
                                         is="#[MunitTools::equalTo(vars.message as String)]"/>
                <munit-tools:assert-that expression="#[MunitTools::queueSize('noxa') as String]"
                                         is="#[MunitTools::equalTo(vars.message as String)]"/>
            </foreach>
        </munit:validation>
    </munit:test>

    <munit:test name="publish-xa-message-and-rollback">
        <munit:execution>
            <set-variable variableName="destination" value="#[Utils::createDestination()]"/>
            <set-variable variableName="messages" value="#[Utils::createMessages(1000)]"/>
            <foreach collection="#[vars.messages]">
                <try>
                    <try>
                        <try transactionalAction="ALWAYS_BEGIN" transactionType="XA">
                            <jms:publish config-ref="JMS_Config_XA" destination="#[vars.destination]">
                                <jms:message>
                                    <jms:body>#[payload]</jms:body>
                                </jms:message>
                            </jms:publish>
                            <raise-error type="MULE:ANY" description="TX"/>
                        </try>
                        <error-handler>
                            <on-error-continue>
                                <jms:consume config-ref="config-no-caching" destination="#[vars.destination]"
                                             maximumWait="10"/>
                                <raise-error type="ANY"/>
                            </on-error-continue>
                        </error-handler>
                    </try>
                    <error-handler>
                        <on-error-continue type="JMS:TIMEOUT">
                            <logger message="expected error. Means message was never published"/>
                        </on-error-continue>
                    </error-handler>
                </try>
            </foreach>
        </munit:execution>
    </munit:test>

    <munit:test name="consume-and-publish-2-configs">
        <munit:execution>
            <set-variable variableName="destination" value="#[Utils::createDestination()]"/>
            <set-variable variableName="destination2" value="#[Utils::createDestination()]"/>
            <set-variable variableName="messages" value="#[Utils::createMessages(1000)]"/>
            <foreach collection="#[vars.messages]">
                <set-variable variableName="message" value="#[payload]"/>
                <flow-ref name="publishMessage"/>
                <try transactionalAction="ALWAYS_BEGIN" transactionType="XA">
                    <jms:consume config-ref="JMS_Config_XA" destination="#[vars.destination]"/>
                    <logger message="XA #[payload]"/>
                    <jms:publish config-ref="JMS_Config_XA_MAX_REDELIVERY" destination="#[vars.destination2]">
                        <jms:message>
                            <jms:body>#[vars.message]</jms:body>
                        </jms:message>
                    </jms:publish>
                </try>
                <jms:consume config-ref="config-no-caching" destination="#[vars.destination2]"/>
                <munit-tools:queue/>
            </foreach>
        </munit:execution>
        <munit:validation>
            <foreach collection="#[vars.messages]">
                <munit-tools:dequeue target="dequeued"/>
                <munit-tools:assert-that expression="#[vars.dequeued]" is="#[MunitTools::equalTo(payload)]"/>
            </foreach>
        </munit:validation>
    </munit:test>

    <munit:test name="consume-and-publish-2-configs-rollback">
        <munit:execution>
            <set-variable variableName="destination" value="#[Utils::createDestination()]"/>
            <set-variable variableName="destination2" value="#[Utils::createDestination()]"/>
            <set-variable variableName="messages" value="#[Utils::createMessages(1000)]"/>
            <foreach collection="#[vars.messages]">
                <set-variable variableName="message" value="#[payload]"/>
                <flow-ref name="publishMessage"/>
                <try>
                    <try transactionalAction="ALWAYS_BEGIN" transactionType="XA">
                        <jms:consume config-ref="JMS_Config_XA" destination="#[vars.destination]"/>
                        <jms:publish config-ref="JMS_Config_XA_MAX_REDELIVERY" destination="#[vars.destination2]">
                            <jms:message>
                                <jms:body>#[payload]</jms:body>
                            </jms:message>
                        </jms:publish>
                        <raise-error type="ANY" description="Break TX"/>
                    </try>
                    <error-handler>
                        <on-error-continue type="ANY">
                            <logger message="rollback TX but continue flow execution"/>
                        </on-error-continue>
                    </error-handler>
                </try>
                <try>
                    <jms:consume config-ref="config-no-caching" destination="#[vars.destination2]" maximumWait="5"/>
                    <raise-error type="ANY"/>
                    <error-handler>
                        <on-error-continue type="JMS:TIMEOUT">
                            <logger message="expected error. Means message was never published"/>
                        </on-error-continue>
                    </error-handler>
                </try>
                <jms:consume config-ref="config-no-caching" destination="#[vars.destination]"/>
                <munit-tools:queue/>
            </foreach>
        </munit:execution>
        <munit:validation>
            <foreach collection="#[vars.messages]">
                <munit-tools:dequeue target="dequeued"/>
                <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo(vars.dequeued)]"/>
            </foreach>
        </munit:validation>
    </munit:test>

    <munit:test name="consume-and-publish">
        <munit:execution>
            <set-variable variableName="destination" value="#[Utils::createDestination()]"/>
            <set-variable variableName="destination2" value="#[Utils::createDestination()]"/>
            <set-variable variableName="messages" value="#[Utils::createMessages(1000)]"/>
            <foreach collection="#[vars.messages]">
                <set-variable variableName="message" value="#[payload]"/>
                <flow-ref name="publishMessage"/>
                <try transactionalAction="ALWAYS_BEGIN" transactionType="XA">
                    <jms:consume config-ref="JMS_Config_XA" destination="#[vars.destination]"/>
                    <jms:publish config-ref="JMS_Config_XA" destination="#[vars.destination2]">
                        <jms:message>
                            <jms:body>#[vars.message]</jms:body>
                        </jms:message>
                    </jms:publish>
                </try>
                <jms:consume config-ref="config-no-caching" destination="#[vars.destination2]"/>
                <munit-tools:queue/>
            </foreach>
        </munit:execution>
        <munit:validation>
            <foreach collection="#[vars.messages]">
                <munit-tools:dequeue target="dequeued"/>
                <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo(vars.dequeued)]"/>
            </foreach>
        </munit:validation>
    </munit:test>

    <flow name="publishMessage">
        <jms:publish config-ref="config" destination="#[vars.destination]">
            <jms:message>
                <jms:body>#[vars.message]</jms:body>
            </jms:message>
        </jms:publish>
    </flow>

</mule>
