src/test/munit/integration/message-filtering-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns:mule="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
                          http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
                          http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd">

    <munit:config name="message-filtering"/>

    <munit:after-test name="afterTest-message-filtering-test-case" description="after test">
        <set-variable variableName="brokerName" value="localhost"/>
        <set-variable variableName="destinationName" value="DEV.QUEUE.3"/>
        <flow-ref name="purgeQueue"/>
    </munit:after-test>

    <munit:test name="messagePriorityOnConsume">
        <munit:execution>
            <async>
                <set-payload value="1a"/>
                <mule:set-variable variableName="priority" value="9"/>
                <flow-ref name="publishFlow"/>
                <set-payload value="2a"/>
                <mule:set-variable variableName="priority" value="2"/>
                <flow-ref name="publishFlow"/>
            </async>
        </munit:execution>
        <munit:validation>
            <async>
                <jms:consume config-ref="config-no-caching" destination="DEV.QUEUE.3" selector="JMSPriority = 2"/>
                <munit-tools:queue/>
            </async>
            <munit-tools:dequeue/>
            <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo('2a')]"/>
            <async>
                <jms:consume config-ref="config-no-caching" destination="DEV.QUEUE.3" selector="JMSPriority = 9"/>
                <munit-tools:queue/>
            </async>
            <munit-tools:dequeue/>
            <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo('1a')]"/>
        </munit:validation>
    </munit:test>

    <flow name="publishFlow">
        <jms:publish config-ref="config-no-caching" destination="DEV.QUEUE.3" priority="#[vars.priority]"/>
        <logger level="INFO" message="publish #[payload]"/>
    </flow>

    <munit:test name="messagePriorityOnListener">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="priorityListener"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <set-payload value="1b"/>
            <jms:publish config-ref="config-no-caching" destination="DEV.QUEUE.3" priority="1"/>
            <set-payload value="2b"/>
            <jms:publish config-ref="config-no-caching" destination="DEV.QUEUE.3" priority="9"/>
        </munit:execution>
        <munit:validation>
            <jms:consume config-ref="config-no-caching" destination="DEV.QUEUE.3" selector="JMSPriority = 1"/>
            <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo('1b')]"/>
            <munit-tools:dequeue/>
            <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo('2b')]"/>
        </munit:validation>
    </munit:test>

    <flow name="priorityListener">
        <jms:listener config-ref="config-no-caching" destination="DEV.QUEUE.3" selector="JMSPriority = 9"/>
        <logger level="DEBUG" message="#[output application/json --- attributes]"/>
        <munit-tools:queue/>
    </flow>

</mule>
