src/test/munit/stress/bridge-scenarios-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
                          http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
                          http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd">

    <munit:config name="bridge-scenarios-stressing"/>

    <munit:after-test name="afterTest-bridge-scenarios-test-case" description="after test">
        <set-variable variableName="brokerName" value="localhost"/>
        <set-variable variableName="destinationName" value="DEV.QUEUE.1"/>
        <flow-ref name="purgeQueue"/>
        <set-variable variableName="destinationName" value="DEV.QUEUE.2"/>
        <flow-ref name="purgeQueue"/>
    </munit:after-test>


    <munit:test name="noTransactedBridge">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="bridgeFlowWithNoTransactions"/>
            <munit:enable-flow-source value="bridgeConsumer"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <set-variable value="#[2000]" variableName="numberOfMessages"/>
            <foreach collection="#[1 to vars.numberOfMessages]">
                <set-payload value="#['message number $(payload)']"/>
                <jms:publish config-ref="config-no-caching" destination="DEV.QUEUE.1"/>
            </foreach>
        </munit:execution>
        <munit:validation>
            <try>
                <until-successful maxRetries="80" millisBetweenRetries="500">
                    <munit-tools:assert-that expression="#[MunitTools::queueSize()]" is="#[MunitTools::equalTo(vars.numberOfMessages)]"/>
                </until-successful>
                <error-handler>
                    <on-error-propagate type="ANY">
                        <munit-tools:fail message="#['Stressed listener should have received $(vars.numberOfMessages) messages but received $(MunitTools::queueSize())']"/>
                    </on-error-propagate>
                </error-handler>
            </try>
        </munit:validation>
    </munit:test>

    <munit:test name="localTransactedBridge">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="bridgeFlowWithLocalTransactions"/>
            <munit:enable-flow-source value="bridgeConsumer"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <munit-tools:sleep time="2000"/>
            <set-variable value="#[2000]" variableName="numberOfMessages"/>
            <foreach collection="#[1 to vars.numberOfMessages]">
                <set-payload value="#['message number $(payload)']"/>
                <jms:publish config-ref="config-no-caching" destination="DEV.QUEUE.1"/>
            </foreach>
        </munit:execution>
        <munit:validation>
            <try>
                <until-successful maxRetries="80" millisBetweenRetries="500">
                    <munit-tools:assert-that expression="#[MunitTools::queueSize()]" is="#[MunitTools::equalTo(vars.numberOfMessages)]"/>
                </until-successful>
                <error-handler>
                    <on-error-propagate type="ANY">
                        <munit-tools:fail message="#['Stressed listener should have received $(vars.numberOfMessages) messages but received $(MunitTools::queueSize())']"/>
                    </on-error-propagate>
                </error-handler>
            </try>
        </munit:validation>
    </munit:test>

    <munit:test name="XATransactedBridge">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="bridgeConsumerWithXATransactions"/>
            <munit:enable-flow-source value="bridgeConsumer"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <set-variable value="#[2000]" variableName="numberOfMessages"/>
            <foreach collection="#[1 to vars.numberOfMessages]">
                <set-payload value="#['message number $(payload)']"/>
                <jms:publish config-ref="config-no-caching" destination="DEV.QUEUE.1"/>
            </foreach>
        </munit:execution>
        <munit:validation>
            <try>
                <until-successful maxRetries="80" millisBetweenRetries="500">
                    <munit-tools:assert-that expression="#[MunitTools::queueSize()]" is="#[MunitTools::equalTo(vars.numberOfMessages)]"/>
                </until-successful>
                <error-handler>
                    <on-error-propagate type="ANY">
                        <munit-tools:fail message="#['Stressed listener should have received $(vars.numberOfMessages) messages but received $(MunitTools::queueSize())']"/>
                    </on-error-propagate>
                </error-handler>
            </try>
        </munit:validation>
    </munit:test>

    <flow name="bridgeFlowWithNoTransactions">
        <jms:listener config-ref="config-no-caching" destination="DEV.QUEUE.1" ackMode="AUTO"/>
        <jms:publish config-ref="config-no-caching" destination="DEV.QUEUE.2"/>
    </flow>

    <flow name="bridgeFlowWithLocalTransactions">
        <jms:listener config-ref="config-no-caching" destination="DEV.QUEUE.1" ackMode="AUTO" transactionalAction="ALWAYS_BEGIN"/>
        <jms:publish config-ref="config-no-caching" destination="DEV.QUEUE.2"/>
    </flow>

    <flow name="bridgeConsumerWithXATransactions">
        <jms:listener config-ref="JMS_Config_XA" destination="DEV.QUEUE.1" ackMode="AUTO" transactionalAction="ALWAYS_BEGIN" transactionType="XA"/>
        <jms:publish config-ref="JMS_Config_XA" destination="DEV.QUEUE.2"/>
    </flow>

    <flow name="bridgeConsumer">
        <jms:listener config-ref="config-no-caching" destination="DEV.QUEUE.2" ackMode="IMMEDIATE"/>
        <logger message="#['Message arrived from bridge target : $(payload)']" level="DEBUG"/>
        <munit-tools:queue/>
    </flow>

</mule>
