src/test/munit/stress/bridge-scenarios-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
                          http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
                          http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd">

    <munit:config name="bridge-scenarios-stressing">
        <munit:parameterizations>
            <munit:parameterization name="noTransactedBridgeTest">
                <munit:parameters>
                    <munit:parameter propertyName="queueDestination1" value="DEV.QUEUE.1"/>
                    <munit:parameter propertyName="queueDestination2" value="DEV.QUEUE.2"/>
                    <munit:parameter propertyName="munitQueue" value="DEV.QUEUE.3"/>
                    <munit:parameter propertyName="flowName" value="localFlow"/>
                    <munit:parameter propertyName="flowConfigRef" value="config-no-caching"/>
                    <munit:parameter propertyName="transactionalAction" value="NONE"/>
                </munit:parameters>
            </munit:parameterization>
            <munit:parameterization name="localTransactedBridgeTest">
                <munit:parameters>
                    <munit:parameter propertyName="queueDestination1" value="DEV.QUEUE.4"/>
                    <munit:parameter propertyName="queueDestination2" value="DEV.QUEUE.5"/>
                    <munit:parameter propertyName="munitQueue" value="DEV.QUEUE.6"/>
                    <munit:parameter propertyName="flowName" value="localFlow"/>
                    <munit:parameter propertyName="flowConfigRef" value="config-no-caching"/>
                    <munit:parameter propertyName="transactionalAction" value="ALWAYS_BEGIN"/>
                </munit:parameters>
            </munit:parameterization>
            <munit:parameterization name="XATransactedBridgeTest">
                <munit:parameters>
                    <munit:parameter propertyName="queueDestination1" value="DEV.QUEUE.7"/>
                    <munit:parameter propertyName="queueDestination2" value="DEV.QUEUE.8"/>
                    <munit:parameter propertyName="munitQueue" value="DEV.QUEUE.9"/>
                    <munit:parameter propertyName="flowName" value="xaFlow"/>
                    <munit:parameter propertyName="flowConfigRef" value="JMS_Config_XA"/>
                    <munit:parameter propertyName="transactionalAction" value="ALWAYS_BEGIN"/>
                </munit:parameters>
            </munit:parameterization>
        </munit:parameterizations>
    </munit:config>

    <munit:after-test name="afterTest-bridge-scenarios-test-case" description="after test">
        <set-variable variableName="brokerName" value="localhost"/>
        <set-variable variableName="destinationName" value="${queueDestination1}"/>
        <flow-ref name="purgeQueue"/>
        <set-variable variableName="destinationName" value="${queueDestination2}"/>
        <flow-ref name="purgeQueue"/>
    </munit:after-test>

    <munit:test name="bridge-scenarios-test">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="${flowName}"/>
            <munit:enable-flow-source value="bridgeConsumer"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <set-variable value="#[2000]" variableName="numberOfMessages"/>
            <foreach collection="#[1 to vars.numberOfMessages]">
                <set-payload value="#['message number $(payload)']"/>
                <jms:publish config-ref="config-no-caching" destination="${queueDestination1}"/>
            </foreach>
        </munit:execution>
        <munit:validation>
            <try>
                <until-successful maxRetries="80" millisBetweenRetries="500">
                    <munit-tools:assert-that expression="#[MunitTools::queueSize('${munitQueue}')]" is="#[MunitTools::equalTo(vars.numberOfMessages)]"/>
                </until-successful>
                <error-handler>
                    <on-error-propagate type="ANY">
                        <munit-tools:fail message="#['Stressed listener should have received $(vars.numberOfMessages) messages but received $(MunitTools::queueSize('${munitQueue}'))']"/>
                    </on-error-propagate>
                </error-handler>
            </try>
        </munit:validation>
    </munit:test>

    <flow name="xaFlow">
        <jms:listener config-ref="${flowConfigRef}" destination="${queueDestination1}" ackMode="AUTO" transactionalAction="${transactionalAction}" transactionType="XA" />
        <jms:publish config-ref="${flowConfigRef}" destination="${queueDestination2}"/>
    </flow>

    <flow name="localFlow">
        <jms:listener config-ref="${flowConfigRef}" destination="${queueDestination1}" ackMode="AUTO" transactionalAction="${transactionalAction}"/>
        <jms:publish config-ref="${flowConfigRef}" destination="${queueDestination2}"/>
    </flow>

    <flow name="bridgeConsumer">
        <jms:listener config-ref="config-no-caching" destination="${queueDestination2}" ackMode="IMMEDIATE"/>
        <logger message="#['Message arrived from bridge target : $(payload)']" level="DEBUG"/>
        <munit-tools:queue queueName="${munitQueue}"/>
    </flow>

</mule>
