bin/src/test/resources/source/jms-listen-reply.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

    <flow name="publisher">
        <jms:publish config-ref="config" destination="#[vars.destination]" destinationType="TOPIC">
            <jms:message>
                <jms:reply-to destination="#[vars.replyToDestination]" destinationType="#[vars.replyToDestinationType]"/>
                <jms:properties>#[{custom: 'prop'}]</jms:properties>
                <jms:jmsx-properties jmsxUserID="TestUser01" jmsxAppID="ListenReply"/>
            </jms:message>
        </jms:publish>
    </flow>

    <flow name="consumer">
        <jms:consume config-ref="config" destination="#[vars.destination]" consumerType="#[vars.consumerType]"/>
    </flow>

    <flow name="listenerDefault">
        <jms:listener config-ref="config" destination="topicListenerDestination" numberOfConsumers="1">
            <jms:consumer-type>
                <jms:topic-consumer/>
            </jms:consumer-type>
        </jms:listener>
        <set-payload value="#['received_' ++ payload]"/>
    </flow>

    <flow name="listenerOverrides">
        <jms:listener config-ref="config" destination="topicListenerDestinationWithOverrides" numberOfConsumers="1">
            <jms:consumer-type>
                <jms:topic-consumer/>
            </jms:consumer-type>
            <jms:response priority="8" persistentDelivery="true">
                <jms:body>#['received_override_' ++ payload]</jms:body>
                <jms:properties>#[{'flowName': 'listenerOverrides'}]</jms:properties>
            </jms:response>
        </jms:listener>
        <logger/>
    </flow>

</mule>
