src/test/munit/ack/recover-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns:mule="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
                          http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
                          http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd">

    <munit:config name="immediate-ack"/>

    <munit:after-test name="afterTest-immediate-ack-test-case" description="after test">
        <set-variable variableName="brokerName" value="localhost"/>
        <set-variable variableName="destinationName" value="DEV.QUEUE.1"/>
        <flow-ref name="purgeQueue"/>
    </munit:after-test>

    <munit:test name="sessionRecover">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="listener"/>
        </munit:enable-flow-sources>
        <munit:behavior>
            <foreach collection="#[1 to 1]">
                <jms:publish config-ref="config-no-caching" destination="DEV.QUEUE.1"/>
            </foreach>
            <until-successful maxRetries="5" millisBetweenRetries="1000">
                <munit-tools:assert-that expression="#[MunitTools::queueSize()]" is="#[MunitTools::equalTo(0)]"/>
            </until-successful>
            <foreach collection="#[1 to 1]">
                <jms:publish config-ref="config-no-caching" destination="DEV.QUEUE.1"/>
            </foreach>
        </munit:behavior>
        <munit:validation>
            <until-successful maxRetries="5" millisBetweenRetries="1000">
                <munit-tools:assert-that expression="#[MunitTools::queueSize()]" is="#[MunitTools::equalTo(0)]"/>
            </until-successful>
        </munit:validation>
    </munit:test>

    <flow name="listener">
        <jms:listener config-ref="config-no-caching" destination="DEV.QUEUE.1" ackMode="MANUAL"/>
        <munit-tools:queue/>
        <logger level="INFO" message="listener Flow"/>
        <flow-ref name="errorSub_Flow" />
    </flow>

    <sub-flow name="errorSub_Flow">
        <raise-error type="MULE:ROUTING"/>
    </sub-flow>

    <error-handler>
        <on-error-propagate logException="true">
            <choice>
                <when expression="#[attributes.properties.jmsxProperties.jmsxDeliveryCount &gt;= 2]" >
                    <jms:ack ackId="#[attributes.ackId]"/>
                </when>
                <otherwise>
                    <jms:recover-session ackId="#[attributes.ackId]"/>
                </otherwise>
            </choice>
        </on-error-propagate>
    </error-handler>



</mule>
