src/test/munit/publishConsume/publish-consume-commons.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:mtf="http://www.mulesoft.org/schema/mule/mtf"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
      http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
      http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
      http://www.mulesoft.org/schema/mule/mtf http://www.mulesoft.org/schema/mule/mtf/current/mule-mtf.xsd">

    <flow name="pc-on-new-message">
        <jms:listener config-ref="${config}" destination="someDest"/>
        <logger message="#[payload]" level="DEBUG"/>
        <set-payload value="#[{
        message : payload.message ++ 'pong',
        correlationId : payload.correlationId
        }]"/>
    </flow>
    <flow name="pc-message-id-on-new-message">
        <jms:listener config-ref="${config}" destination="someDest">
            <jms:response requestReplyPattern="MESSAGE_ID"/>
        </jms:listener>
        <logger message="#[payload]" level="DEBUG"/>
        <set-payload value="#[{
        message : payload.message ++ 'pong',
        correlationId : payload.correlationId
        }]"/>
    </flow>

</mule>
