src/test/resources/integration/jms-listener-correlation-id.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
             http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
      http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

    <flow name="publisher">
        <jms:publish config-ref="config" destination="${destination}" />
    </flow>

    <flow name="publisherWithCustomCorrelation">
        <jms:publish config-ref="config" destination="${destination}">
            <jms:message correlationId="myCorrelationId"  />
        </jms:publish>
    </flow>

    <flow name="publisherWithCustomCorrelationReplyTo">
        <set-variable variableName="destination" value="#[uuid()]"/>
        <jms:publish config-ref="config" destination="${destination}">
            <jms:message correlationId="myCorrelationId" >
                <jms:reply-to destination="#[vars.destination]" />
            </jms:message>
        </jms:publish>
        <jms:consume destination="#[vars.destination]"/>
    </flow>


    <flow name="neverSendCorrelationId">
        <jms:publish config-ref="config" destination="${destination}" sendCorrelationId="NEVER"/>
    </flow>

    <flow name="listener" initialState="stopped">
        <jms:listener config-ref="config" destination="${destination}" numberOfConsumers="1"/>
        <custom-processor class="org.mule.extensions.jms.test.JmsMessageStorage"/>
    </flow>

    <flow name="neverSendCorrelationIdListener" initialState="stopped">
        <jms:listener config-ref="config" destination="${destination}" numberOfConsumers="1">
            <jms:response sendCorrelationId="NEVER"/>
        </jms:listener>
        <custom-processor class="org.mule.extensions.jms.test.JmsMessageStorage"/>
    </flow>


</mule>
