src/test/resources/integration/jms-message-filtering-connector-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

    <flow name="publisher">
        <jms:publish config-ref="config" destination="#[vars.destination]" destinationType="#[vars.destinationType]">
            <jms:message>
                <jms:properties>
                    #[{messagePriority: vars.messagePriority}]
                </jms:properties>
            </jms:message>
        </jms:publish>
    </flow>

    <flow name="consumer">
        <choice>
            <when expression="#[vars.destinationType == 'TOPIC']">
                <logger level="DEBUG" message="Topic Consumer"/>
                <jms:consume config-ref="config" destination="#[vars.destination]" maximumWait="#[vars.maximumWait]">
                    <jms:consumer-type>
                        <jms:topic-consumer/>
                    </jms:consumer-type>
                </jms:consume>
            </when>
            <otherwise>
                <logger level="DEBUG" message="Queue Consumer"/>
                <jms:consume config-ref="config" destination="#[vars.destination]" maximumWait="#[vars.maximumWait]"/>
            </otherwise>
        </choice>
    </flow>

    <flow name="queueListener">
        <jms:listener config-ref="config" destination="${destination}" numberOfConsumers="1"/>
        <logger level="DEBUG"/>
        <custom-processor class="org.mule.extensions.jms.test.JmsMessageStorage"/>
    </flow>

    <flow name="topicListener">
        <jms:listener config-ref="config" destination="${destination}" numberOfConsumers="1">
            <jms:consumer-type>
                <jms:topic-consumer/>
            </jms:consumer-type>
        </jms:listener>
        <logger level="DEBUG"/>
        <custom-processor class="org.mule.extensions.jms.test.JmsMessageStorage"/>
    </flow>

</mule>
