src/test/resources/integration/jms-message-types.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

    <flow name="publisher">
        <jms:publish config-ref="config" destination="#[vars.destination]"/>
    </flow>

    <flow name="bridge">
        <jms:listener config-ref="config" destination="${destination}" numberOfConsumers="1"/>
        <logger level="DEBUG"/>
        <jms:publish config-ref="config" destination="${finalDest}"/>
    </flow>

    <flow name="consumer">
        <jms:consume config-ref="config" destination="#[vars.destination]"/>
    </flow>

</mule>
