src/test/resources/reconnect/jms-reconnection-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

    <flow name="publisher">
        <jms:publish config-ref="config" destination="#[vars.destination]"/>
    </flow>

    <flow name="reconnected-listener" initialState="stopped">
        <jms:listener config-ref="config" destination="${listenerDest}" numberOfConsumers="1">
            <reconnect frequency="100" count="10"/>
        </jms:listener>
        <logger level="DEBUG" message="#[payload]"/>
        <custom-processor class="org.mule.extensions.jms.test.JmsMessageStorage"/>
    </flow>

    <flow name="fail-reconnect-listener" initialState="stopped">
        <jms:listener config-ref="config" destination="${failedListenerDest}" numberOfConsumers="1">
            <reconnect frequency="100" count="1"/>
        </jms:listener>
        <logger level="DEBUG" message="#[payload]"/>
        <jms:publish config-ref="config" destination="${publishDest}"/>
    </flow>

    <flow name="consumer">
        <jms:consume config-ref="config" destination="#[vars.destination]" maximumWait="#[vars.maximumWait]"/>
    </flow>

</mule>
