bin/src/test/resources/integration/jms-correlation-id-propagation.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

    <flow name="send-payload">
        <logger level="DEBUG" message="#['vars.customCorrelationId: ' ++ vars.customCorrelationId]"/>
        <jms:publish config-ref="config" destination="#[vars.initialDestination]">
            <jms:message correlationId="#[vars.customCorrelationId]">
            </jms:message>
        </jms:publish>
    </flow>

    <flow name="bridge">
        <jms:consume config-ref="config" destination="#[vars.initialDestination]" maximumWait="1000"/>
        <logger level="DEBUG" message="#['attributes.headers.correlation ID: ' ++ attributes.headers.correlationId]"/>
        <jms:publish config-ref="config" destination="#[vars.finalDestination]">
            <jms:message correlationId="#[attributes.headers.correlationId]">
            </jms:message>
        </jms:publish>
    </flow>

    <flow name="bridge-receiver">
        <jms:consume config-ref="config" destination="#[vars.finalDestination]" maximumWait="1000"/>
        <logger level="DEBUG" message="#['attributes.headers.correlation ID: ' ++ attributes.headers.correlationId]"/>
    </flow>

</mule>
