src/test/munit/provider/trusted-packages-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
                          http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
                          http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd">

    <munit:config name="trusted-packages-test-case.xml"/>

    <jms:config name="config-trusted-packages">
        <jms:active-mq-connection>
            <jms:caching-strategy>
                <jms:no-caching/>
            </jms:caching-strategy>
            <jms:factory-configuration maxRedelivery="${max.redelivery}" >
                <jms:trusted-packages >
                    <jms:trusted-package value="java." />
                    <jms:trusted-package value="javax." />
                </jms:trusted-packages>
            </jms:factory-configuration>
        </jms:active-mq-connection>
    </jms:config>

    <munit:test name="noConnectivityTestProvider">
        <munit:execution>
            <flow-ref name="publish-provider-flow"/>
        </munit:execution>
        <munit:validation>
            <jms:consume config-ref="config-trusted-packages" destination="destination_nct"/>
            <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo('1')]"/>
        </munit:validation>
    </munit:test>



    <flow name="publish-provider-flow">
        <jms:publish config-ref="config-trusted-packages" destination="destination_nct">
            <jms:message>
                <jms:body>1</jms:body>
            </jms:message>
        </jms:publish>
    </flow>
</mule>
