src/test/munit/correlationid/correlation-id-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns:mule="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
                          http://www.mulesoft.org/schema/mule/munit-tools http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
                          http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd">

    <munit:config name="correlation-id"/>

    <munit:after-test name="afterTest-correlation-id-test-case" description="after test">
        <set-variable variableName="brokerName" value="localhost"/>
        <set-variable variableName="destinationName" value="DEV.QUEUE.1"/>
        <flow-ref name="purgeQueue"/>
        <set-variable variableName="destinationName" value="DEV.QUEUE.2"/>
        <flow-ref name="purgeQueue"/>
        <set-variable variableName="destinationName" value="DEV.QUEUE.3"/>
        <flow-ref name="purgeQueue"/>
    </munit:after-test>

    <munit:test name="publishWithDefaultCorrelationId" description="Validates that the publish and listener propagates correctly the auto generated Correlation ID">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="correlationIdListener"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <mule:set-variable variableName="correlationId" value="#[correlationId]"/>
            <jms:publish config-ref="config-no-caching" destination="DEV.QUEUE.1"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:dequeue/>
            <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo(vars.correlationId)]"/>
        </munit:validation>
    </munit:test>

    <munit:test name="publishWithCustomCorrelationId" description="Validates that the publish and listener propagates correctly a custom Correlation ID" >
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="correlationIdListener"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <mule:set-variable variableName="correlationId" value="#['customCorrelationId']"/>
            <jms:publish config-ref="config-no-caching" destination="DEV.QUEUE.1">
                <jms:message correlationId="#[vars.correlationId]"/>
            </jms:publish>
        </munit:execution>
        <munit:validation>
            <munit-tools:dequeue/>
            <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::equalTo(vars.correlationId)]"/>
        </munit:validation>
    </munit:test>

    <munit:test name="neverSendCorrelationId" description="Validates that is possible to prevent the correlation ID propagation">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="correlationIdListener"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <mule:set-variable variableName="correlationId" value="#[correlationId]"/>
            <jms:publish config-ref="config-no-caching" destination="DEV.QUEUE.1" sendCorrelationId="NEVER"/>
        </munit:execution>
        <munit:validation>
            <munit-tools:dequeue/>
            <munit-tools:assert-that expression="#[payload]" is="#[MunitTools::not(MunitTools::equalTo(vars.correlationId))]"/>
        </munit:validation>
    </munit:test>

    <flow name="correlationIdListener">
        <jms:listener config-ref="config-no-caching" destination="DEV.QUEUE.1" />
        <munit-tools:queue>
            <munit-tools:value>#[correlationId]</munit-tools:value>
        </munit-tools:queue>
    </flow>

</mule>
