src/test/resources/transactions/jms-transactional-always-join-error.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
      http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

    <flow name="publisher">
        <jms:publish config-ref="config" destination="#[vars.destination]"/>
    </flow>

    <flow name="consumer">
        <jms:consume config-ref="config" destination="#[vars.destination]" maximumWait="#[vars.maximumWait]"/>
    </flow>

    <flow name="txPublishAlwaysJoin">
        <jms:publish config-ref="config" destination="#[vars.destination]" transactionalAction="ALWAYS_JOIN"/>
    </flow>

    <flow name="txConsumeAlwaysJoin">
        <jms:consume config-ref="config" destination="#[vars.destination]" maximumWait="1000"
                     transactionalAction="ALWAYS_JOIN"/>
    </flow>

    <flow name="txListenerWithPublishAlwaysJoin" initialState="stopped">
        <jms:listener config-ref="config" destination="${destination}" numberOfConsumers="1"/>
        <jms:publish config-ref="config" destination="${publishDestination}" transactionalAction="ALWAYS_JOIN"/>
    </flow>
</mule>
