src/test/resources/transactions/jms-transactional.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
      http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

    <flow name="publisher">
        <jms:publish config-ref="config" destination="#[vars.destination]"/>
    </flow>

    <flow name="consumer">
        <jms:consume config-ref="config" destination="#[vars.destination]" maximumWait="#[vars.maximumWait]"/>
    </flow>

    <flow name="executionWrapper">
        <try>
            <try transactionalAction="ALWAYS_BEGIN">
                <flow-ref name="#[vars.flowName]"/>
                <choice>
                    <when expression="#[vars.rollback]">
                        <test:throw exception="java.lang.RuntimeException" error="ROUTING"/>
                    </when>
                    <otherwise>
                        <logger level="TRACE" message="NOTHING TO DO"/>
                    </otherwise>
                </choice>
            </try>
        </try>
        <error-handler>
            <on-error-continue type="ROUTING"/>
            <on-error-propagate type="ANY"/>
        </error-handler>
    </flow>
    
    <flow name="txPublish">
        <jms:publish config-ref="config" destination="#[vars.publishDestination]" />
    </flow>

    <flow name="txConsume">
        <jms:consume config-ref="config" destination="#[vars.consumeDestination]" maximumWait="1000"/>
    </flow>

    <flow name="txConsumeAndPublish">
        <jms:consume config-ref="config" destination="#[vars.consumeDestination]"/>
        <jms:publish config-ref="config" destination="#[vars.publishDestination]"/>
    </flow>
    
    <flow name="txSubscriberWithPublish" initialState="stopped">
        <jms:listener config-ref="config" destination="${destination}" transactionalAction="ALWAYS_BEGIN" numberOfConsumers="1"/>
        <jms:publish config-ref="config" destination="${publishDestination}" transactionalAction="ALWAYS_JOIN"/>
    </flow>

    <flow name="nonTxPublishMustNotJoinCurrentTx">
        <try transactionalAction="ALWAYS_BEGIN">
            <jms:publish config-ref="config" destination="#[vars.txDestination]" transactionalAction="ALWAYS_JOIN"/>
            <jms:publish config-ref="config" destination="#[vars.nonTxDestination]" transactionalAction="NOT_SUPPORTED"/>
            <test:throw exception="java.lang.RuntimeException" error="ANY"/>
        </try>
    </flow>

    <flow name="txListener" initialState="stopped">
        <jms:listener config-ref="config" destination="${destination}" transactionalAction="ALWAYS_BEGIN" numberOfConsumers="1"/>
        <custom-processor class="org.mule.extensions.jms.test.JmsMessageStorage"/>
    </flow>
</mule>
