src/test/resources/transactions/jms-durable-topic-subscriber-tx.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

    <flow name="publisher">
        <jms:publish config-ref="config" destination="#[vars.destination]" destinationType="TOPIC"/>
    </flow>

    <flow name="consumer">
        <jms:consume config-ref="config" destination="#[vars.destination]" maximumWait="#[vars.maximumWait]"/>
    </flow>

    <flow name="topicConsumer">
        <jms:consume config-ref="config" destination="#[vars.destination]" maximumWait="#[vars.maximumWait]">
            <jms:consumer-type>
                <jms:topic-consumer durable="true" subscriptionName="${subscriptionName}"/>
            </jms:consumer-type>
        </jms:consume>
    </flow>

    <flow name="topicSubscriber" initialState="stopped">
        <jms:listener config-ref="config" destination="${topicDest}" numberOfConsumers="1" transactionalAction="ALWAYS_BEGIN">
            <jms:consumer-type>
                <jms:topic-consumer durable="true" subscriptionName="${subscriptionName}"/>
            </jms:consumer-type>
        </jms:listener>
        <logger level="DEBUG"/>
        <jms:publish config-ref="config" destination="${finalDest}"/>
    </flow>

</mule>
