src/test/resources/transactions/jms-transactional-listener.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
                          http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">

    <flow name="publisher">
        <jms:publish config-ref="config" destination="#[vars.destination]"/>
    </flow>

    <flow name="consumer">
        <jms:consume config-ref="config" destination="#[vars.destination]" maximumWait="#[vars.maximumWait]"/>
    </flow>

    <flow name="txListenerWithDefaultTxActionOnNextOperation" initialState="stopped">
        <jms:listener config-ref="config" destination="${initialDestination}" transactionalAction="ALWAYS_BEGIN"
                      numberOfConsumers="1"/>
        <set-variable variableName="operation" value="#[output application/java --- payload.operation]"
                      mimeType="application/java"/>
        <set-variable variableName="action" value="#[output application/java --- payload.action]"
                      mimeType="application/java"/>
        <!--<logger level="ERROR" message="#['OPERATION: ' ++ vars.operation ++ '  - ACTION: ' ++ vars.action]"/>-->
        <choice>
            <when expression="#[vars.operation == 'CONSUME']">
                <!--<logger level="ERROR" message="INSIDE DESIRED OPERATION"/>-->
                <jms:consume config-ref="config" destination="${consumeDestination}"/>
            </when>
            <when expression="#[vars.operation == 'PUBLISH']">
                <jms:publish config-ref="config" destination="${finalDestination}"/>
            </when>
            <otherwise>
                <logger level="DEBUG" message="NOTHING TO DO"/>
            </otherwise>
        </choice>
        <flow-ref name="failConditionally"/>
    </flow>


    <flow name="txListenerWithNotSupportedTxActionOnNextOperation" initialState="stopped">
        <jms:listener config-ref="config" destination="${initialDestination}" transactionalAction="ALWAYS_BEGIN"
                      numberOfConsumers="1"/>
        <set-variable variableName="operation" value="#[output application/java --- payload.operation]"
                      mimeType="application/java"/>
        <set-variable variableName="action" value="#[output application/java --- payload.action]"
                      mimeType="application/java"/>
        <logger level="ERROR" message="#['action: ' ++ vars.action]"/>
        <choice>
            <when expression="#[vars.operation == 'CONSUME']">
                <jms:consume config-ref="config" destination="${consumeDestination}" transactionalAction="NOT_SUPPORTED"/>
            </when>
            <when expression="#[vars.operation == 'PUBLISH']">
                <jms:publish config-ref="config" destination="${finalDestination}" transactionalAction="NOT_SUPPORTED"/>
            </when>
            <otherwise>
                <logger level="DEBUG" message="NOTHING TO DO"/>
            </otherwise>
        </choice>
        <flow-ref name="failConditionally"/>
    </flow>

    <flow name="txListenerAlwaysJoinTxActionOnNextOperation" initialState="stopped">
        <jms:listener config-ref="config" destination="${initialDestination}" transactionalAction="ALWAYS_BEGIN"
                      numberOfConsumers="1"/>
        <set-variable variableName="operation" value="#[output application/java --- payload.operation]"
                      mimeType="application/java"/>
        <set-variable variableName="action" value="#[output application/java --- payload.action]"
                      mimeType="application/java"/>
        <choice>
            <when expression="#[vars.operation == 'CONSUME']">
                <jms:consume config-ref="config" destination="${consumeDestination}" transactionalAction="ALWAYS_JOIN"/>
            </when>
            <when expression="#[vars.operation == 'PUBLISH']">
                <jms:publish config-ref="config" destination="${finalDestination}" transactionalAction="ALWAYS_JOIN"/>
            </when>
            <otherwise>
                <logger level="DEBUG" message="NOTHING TO DO"/>
            </otherwise>
        </choice>
        <flow-ref name="failConditionally"/>
    </flow>

    <flow name="failConditionally">
        <try transactionalAction="BEGIN_OR_JOIN">
            <choice>
                <when expression="#[vars.action == 'EXPLODE']">
                    <test:throw exception="java.lang.RuntimeException" error="ROUTING"/>
                </when>
                <otherwise>
                    <logger level="DEBUG" message="NOTHING TO DO"/>
                </otherwise>
            </choice>
        </try>
    </flow>

</mule>
