src/test/munit/tx/transaction-listener-publish.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools" xmlns:mule="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
                          http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
                          http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd">

     <munit:config name="transaction-listener-publish"/>

    <munit:after-test name="afterTest-transaction-listener-publish" description="after test">
        <set-variable variableName="brokerName" value="localhost"/>
        <set-variable variableName="destinationName" value="DEV.QUEUE.1"/>
        <flow-ref name="purgeQueue"/>
        <set-variable variableName="destinationName" value="DEV.QUEUE.2"/>
        <flow-ref name="purgeQueue"/>
    </munit:after-test>

    <munit:test name="publishAndThenConsumeExplicitReplyDestinationInTransaction">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="devQueue1Listener"/>
            <munit:enable-flow-source value="devQueue2Listener"/>
        </munit:enable-flow-sources>
        <munit:execution>
            <foreach collection="#[1 to 200]">
                <async>
                    <jms:publish config-ref="config-no-caching" destination="DEV.QUEUE.1"/>
                </async>
            </foreach>
        </munit:execution>
        <munit:validation>
            <until-successful maxRetries="5" millisBetweenRetries="1000">
                <munit-tools:assert-that expression="#[MunitTools::queueSize()]" is="#[MunitTools::equalTo(200)]"/>
            </until-successful>
        </munit:validation>
    </munit:test>

    <flow name="devQueue1Listener">
        <jms:listener numberOfConsumers="1" transactionalAction="ALWAYS_BEGIN" config-ref="config-no-caching" destination="DEV.QUEUE.1"/>
        <jms:publish transactionalAction="ALWAYS_JOIN" config-ref="config-no-caching" destination="DEV.QUEUE.2"/>
    </flow>

    <flow name="devQueue2Listener">
        <jms:listener transactionalAction="ALWAYS_BEGIN" config-ref="config-no-caching" destination="DEV.QUEUE.2"/>
        <munit-tools:queue />
    </flow>

</mule>