src/test/munit/reconnection/tls-source-reconnection-test-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:munit-tools="http://www.mulesoft.org/schema/mule/munit-tools"
      xmlns:connection-test="http://www.mulesoft.org/schema/mule/connection-test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
      xmlns:munit="http://www.mulesoft.org/schema/mule/munit"
      xmlns:mtf="http://www.mulesoft.org/schema/mule/mtf"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
      http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
      http://www.mulesoft.org/schema/mule/munit-tools  http://www.mulesoft.org/schema/mule/munit-tools/current/mule-munit-tools.xsd
      http://www.mulesoft.org/schema/mule/munit http://www.mulesoft.org/schema/mule/munit/current/mule-munit.xsd
      http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
      http://www.mulesoft.org/schema/mule/connection-test http://www.mulesoft.org/schema/mule/connection-test/current/mule-connection-test.xsd
      http://www.mulesoft.org/schema/mule/mtf http://www.mulesoft.org/schema/mule/mtf/current/mule-mtf.xsd">

    <munit:config name="tls-source-reconnection-test-case.xml"  minMuleVersion="4.3.0"/>

    <jms:config name="tls-source-reconnection-test-case-config">
        <jms:active-mq-connection username="admin" password="admin" clientId="client1" >
            <tls:context >
                <tls:trust-store path="tls/client-truststore.ks" password="racing" type="jks" />
            </tls:context>
            <jms:factory-configuration brokerUrl="ssl://127.0.0.1:${connection.lost.port}" />
        </jms:active-mq-connection>
    </jms:config>


    <munit:before-test name="before-tls-source-reconnection-test-case" description="before test">
        <connection-test:define-proxy-server-port serverPort="${toxiproxy.port}"/>
        <connection-test:create-proxy realPort="61617" realHost="activemqssl" proxyPort="${connection.lost.port}"/>
    </munit:before-test>

    <munit:after-test name="after-tls-source-reconnection-test-case" description="after test">
        <set-variable variableName="brokerName" value="localhost"/>
        <set-variable variableName="destinationName" value="Q1"/>
        <flow-ref name="purgeQueue"/>
    </munit:after-test>

    <munit:test name="tls-source-reconnection-test-case" timeOut="10000">
        <munit:enable-flow-sources>
            <munit:enable-flow-source value="tls-source-reconnection-flow"/>
        </munit:enable-flow-sources>

        <munit:execution>
            <jms:publish config-ref="tls-source-reconnection-test-case-config" destination="Q1">
                <jms:message >
                    <jms:body ><![CDATA[#["hello world"]]]></jms:body>
                </jms:message>
            </jms:publish>
            <connection-test:disconnect-proxy proxyPort="${connection.lost.port}"/>
            <munit-tools:sleep time="1000"/>
            <connection-test:reconnect-proxy proxyPort="${connection.lost.port}"/>
            <munit-tools:sleep time="2000"/>

            <jms:publish config-ref="tls-source-reconnection-test-case-config" destination="Q1">
                <jms:message >
                    <jms:body ><![CDATA[#["hello world"]]]></jms:body>
                </jms:message>
            </jms:publish>
            <connection-test:disconnect-proxy proxyPort="${connection.lost.port}"/>
            <munit-tools:sleep time="1000"/>
            <connection-test:reconnect-proxy proxyPort="${connection.lost.port}"/>
            <munit-tools:sleep time="2000"/>
            <jms:publish config-ref="tls-source-reconnection-test-case-config" destination="Q1">
                <jms:message >
                    <jms:body ><![CDATA[#["hello world"]]]></jms:body>
                </jms:message>
            </jms:publish>
        </munit:execution>

        <munit:validation>
            <munit-tools:sleep time="500"/>
            <munit-tools:assert-that expression="#[MunitTools::queueSize()]" is="#[MunitTools::equalTo(3)]"/>
        </munit:validation>
    </munit:test>

    <flow name="tls-source-reconnection-flow" >
        <jms:listener config-ref="tls-source-reconnection-test-case-config" destination="Q1">
            <reconnect-forever />
        </jms:listener>
        <logger level="ERROR" message="NZ"/>
        <munit-tools:queue/>
    </flow>

</mule>